@using X.PagedList.Mvc
@model PL.Models.UserListViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Users managment</h2>

<div class="widget widget-table action-table">
    <div class="widget-header">
        
        <h3 style="margin-top: 0 !important;"><i style="margin-right: 10px; margin-left: 5px;" class="glyphicon glyphicon-th-list"></i>All users</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().ID)</th>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().FirstName)</th>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().LastName)</th>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().Email)</th>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().Address)</th>
                    <th>@Html.LabelFor(model=>model.Users.FirstOrDefault().BirthDate)</th>
                    <th class="td-actions"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td style="text-align: right;">
                            @Html.DisplayFor(model=>user.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Address)
                        </td>
                        <td>
                            <span>@user.BirthDate.ToString("MM/dd/yyyy")</span>
                        </td>
                        <td class="td-actions">
                            @using (Html.BeginForm("Delete", "Users", new {id = user.ID}, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-small btn-danger" style="margin-left: 1em;"><i class="glyphicon glyphicon-minus"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /widget-content -->
</div>

<div class="col-md-12">
    @Html.PagedListPager(Model.Users,page=>Url.Action("List",new {page}))
</div>
