@model BL.DTOs.Deliveries.DeliveryDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>DeliveryDTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SellerId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SellerId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BuyerId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BuyerId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AuctionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AuctionId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
